.list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list li {
  margin: 10px;
  text-align: center;
}

.list img {
  border-radius: 5px;
  width: 150px;
  height: auto;
}
